<!DOCTYPE html>
<html>
<head>
	<title>QuotingDojo</title>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<form action="/postquote" method=	"post">
		<h4>Your name: </h4>
		<input type="text" name="name"><br>
		<h4>Your quote: </h4>
		<input type="text" name="quote"><br>
		<input type="submit" value="Add my quote!">
	</form>
	<form action="/quotes">
		<input type="submit" value="Skip to quotes!">
	</form>
</body>
</html>